{% extends 'agf_maintenance/base.html' %}
{% block title %}
WO{{wo.id|stringformat:"05d"}}
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <!-- WO Title -->
                    <h2>WO{{wo.id|stringformat:"05d"}}: {{wo.name}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 12px;">
        <div class="col-4">
            <div class="card" style="height:100%;">
                <div class="card-body">
                    <!-- WO Details -->
                    <table class="table">
                        {% if not wo.pm %}
                        <tr>
                            <th>Type</th>
                            <td>Corrective Maintenance</td>
                        </tr>
                        {% else %} 
                        <tr>
                            <th>Type</th>
                            <td>Preventative Maintenance</td>
                        </tr>
                         <tr>
                            <th>PM</th>
                            <td class="link" onclick="window.location.href='{% url 'pm' wo.pm.pm.id %}'">{{wo.pm.pm.pmid}}: {{wo.pm.pm.name}}</td>
                         </tr>
                        {% endif %}

                         <tr>
                            <th>Asset</th>
                            <td class="link" onclick="window.location.href='{% url 'asset' wo.asset.id %}'">{{wo.asset.get_full_asset_no}}: {{wo.asset.get_name}}</td>
                         </tr>

                        <tr>
                            <th>Status</th>
                            <td>{{wo.get_status_display}}</td>
                        </tr>
                        <tr>
                            <th>Priority</th>
                            <td>{{wo.get_priority_display}}</td>
                        </tr>
                        <tr>
                            <th>Schedule Date</th>
                            <td>{{wo.sch_date}}</td>
                        </tr>
                        {% if wo.status == wo.COMPLETED %}
                        <tr>
                            <th>Completed Date</th>
                            <td>{{wo.complete_date}}</td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card" style="height:100%;">
                <div class="card-body">
                    <!--- Tasks -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sequence ID</th>
                                <th>Task</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for woTask in wo.tasks.all %}
                            <tr>
                                <td>{{woTask.no}}</td>
                                {% autoescape off %}
                                <td>{{woTask.task}}</td>
                                {% endautoescape %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body"> 
                    <!-- Actions -->
                    <h2>Actions</h2>
                    {% if wo.status == wo.DEPLOYED %}
                    <a class='btn btn-primary' href='{% url 'completeWO' wo.id %}'>Complete</a>
                    {% endif %}
                    
                    {% if wo.status != wo.DEPLOYED %}
                    <a class='btn btn-primary' href='#'>Redeploy (under development)</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body"> 
                    <!-- Attachments -->
                    <h2>Attachments</h2>
                    <table class="table table-striped" style="width: auto; min-width: 40vw;">
                        {% for wodoc in wo.documents.all %}
                        {% with wodoc.document.revisions.last as rev %}
                        <tr>
                            {% if wodoc.document.type.code == "MAIN" %}
                            <td style="vertical-align: middle;">   
                                {{rev.file_name}}
                            </td>
                            {% else %}
                            <td style="vertical-align: middle;" class="link" onclick=" window.location.href='{% url 'document' wodoc.document.id %}'">
                                {{wodoc.document}}
                            </td>
                            {% endif %}
                            
                            <td style="vertical-align: middle;">
                                {% if rev.my_link == "#" %}
                                <a class="btn btn-primary" href="{% url 'document' id=wodoc.document.id %}">View Document</a>
                                {% else %}
                                <a class="btn btn-primary" href="{{wodoc.document.revisions.last.my_link}}" target="blank" download>Download</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                    </table>
                    <br>
                    <hr>
                    <!-- Add attachments -->
                    <form action="{% url 'attachMaintenanceDocument' id=wo.id %}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <label for="id_file">Upload a file:</label>
                        <input type="file" name="file" required="" id="id_file">
                        <input class="btn btn-primary" type="submit" value="Upload">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}