{% extends 'agf_documents/base.html' %}
{% block title %}
Document: {{document.document_no}}
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div class="container-fluid">
    {{ formset.errors }}
    {{ formset.non_field_errors }}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h1>{{document.document_no}}</h1>
                    <table class="table" style="width: auto;">
                        <tr>
                            <th>Document No.</th>
                            <td>{{document.document_no}}</td>
                        </tr>
                        {% if document.legacy_no is not None %}
                        <tr>
                            <th>Legacy Number</th>
                            <td>{{document.legacy_no}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Name</th>
                            <td>{{document.name}}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{document.type}}</td>
                        </tr>
                        {% if document.sub_type is not None %}
                        <tr>
                            <th>Sub-Type</th>
                            <td>{{document.sub_type}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Area</th>
                            <td>{{document.area}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Revisions -->
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr><th colspan="5"><h4><b>Document Revisions</b></h4></th></tr>
                        <tr>
                            <th>Status</th>
                            <th>Revision</th>
                            <th>Reason</th>
                            <th>Files</th>
                        </tr>
                        {% for rev in document.revisions.all %}
                        <tr>
                            <td>{{rev.get_status_display}}</td>
                            <td>{{rev.revision}}</td>
                            <td>{{rev.get_reason_display}}</td>
                            <td>
                                {% for file in rev.document_files.all %}
                                <table>
                                    <tr><td><a href="{{file.file.url}}" target="_blank">{{file.file}}</a><a class="btn btn-primary ms-2 px-1 py-0" title="Create public link." href="{% url 'documet_create_public_link' id=file.id%}"><i class="fas fa-link"></i></td></tr>
                                    {% if file.get_public_link %}
                                    <tr><td><a href="{{file.get_public_link}}">Public Link</a></td></tr>
                                    {% endif %}
                                    
                                </table>
                                
                                
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <button class="btn btn-primary" onclick="newRevision()">New Revision</button>

                    <div class="card mt-4" id="newRevision" style="display:none;">
                        <div class="card-body">
                            <form action="{% url 'document_new_revision' id=document.id %}" enctype="multipart/form-data" method="POST">
                                {% csrf_token %}
                                <table>
                                    <tr style="display:none;">
                                        <th>
                                            <label for="id_document">Document:</label>
                                        </th>
                                        <td>
                                            <select name="document" required="" id="id_document">
                                                <option value="{{document.id}}"selected="">{{document.name}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label for="id_revision">Revision Number:</label>
                                        </th>
                                        <td>
                                            <input type="text" name="revision" maxlength="10" id="id_revision">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label for="id_reason">Reason:</label>
                                        </th>
                                        <td>
                                            <select name="reason" id="id_reason">
                                                <option value="" selected="">---------</option>
                                                {% for reason in reasons %}
                                                <option value="{{reason.0}}">{{reason.1}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label for="id_status">Status:</label>
                                        </th>
                                        <td>
                                            <select name="status" required="" id="id_status">
                                                <option value="" selected="">---------</option>
                                                {% for status in statuses %}
                                                <option value="{{status.0}}">{{status.1}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="id_file">File:</label></th>
                                        <td>
                                          <input type="file" name="file" required="" id="id_file">
                                        </td>
                                      </tr>
                                </table>
                                <input class="btn btn-primary" type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <!-- Reference Documents -->
                    <table class="table table-striped">
                        <tr><th colspan="5"><h4><b>Reference Documents</b></h4></th></tr>
                        <tr>
                            <th>Document Number</th>
                            <th>Name</th>
                        </tr>
                        {% for ref in document.reference_documents.all %}
                        <tr class="link" onclick="window.location.href='{% url 'document' id=ref.reference_document.id %}'">
                            <td>{{ref.reference_document.document_no}}</td>
                            <td>{{ref.reference_document.name}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <button class="btn btn-primary" onclick="newReference()">New Reference</button>

                    <!-- New Reference -->
                    <div class="card mt-4" id="newReference" style="display:none;">
                        <div class="card-body">
                            <form action="{% url 'document_new_reference' id=document.id %}" method="POST">
                                {% csrf_token %}
                                <table>
                                    <tr style="display:none;">
                                        <th>
                                            <label for="id_document">Document:</label>
                                        </th>
                                        <td>
                                            <select name="document" required="" id="id_document">
                                                <option value="{{document.id}}"selected="">{{document.name}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="2">Filters</th>
                                    </tr>
                                    <tr>
                                        <td>Area:</td>
                                        <td>
                                            <select onclick="filter()" id="area_filter">
                                                <option value="" selected="">---------</option>
                                                {% for area in areas %}
                                                <option value="{{area.id}}">{{area.code}}: {{area.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Document Type:</td>
                                        <td>
                                            <select onclick="filter()" id="type_filter">
                                                <option value="" selected="">---------</option>
                                                {% for type in types %}
                                                <option value="{{type.id}}">{{type.code}}: {{type.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>

                                    <tr><td><br></td></tr>

                                    <tr>
                                        <th colspan="2">
                                            <label for="id_reference">Reference Document:</label>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <select name="reference" required="" id="id_reference"  style="width:100%; text-overflow: ellipsis;">
                                                <option value="" selected="">---------</option>
                                                {% for d in documents %}
                                                <option value="{{d.id}}">{{d.document_no}}: {{d.name}}</option>
                                                {% endfor %}
                                        </select>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </div>

                    <!-- Documents Referring to This -->
                    <table class="table table-striped mt-5">
                        <tr><th colspan="5"><h4><b>Documents Referring to This</b></h4></th></tr>
                        <tr>
                            <th>Document Number</th>
                            <th>Name</th>
                        </tr>
                        {% for ref in document.documents_referred_by.all %}
                        <tr>
                            <td>{{ref.document.document_no}}</td>
                            <td>{{ref.document.name}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-8 pb-3">
            <!-- Preview -->
            <div class="card mb-0" style="height:100%;">
                <div class="card-body">
                    {% if documentFile %}
                    <p class="link" style="text-align:right; position: absolute; right: 30px; top:30px;"><i class="fas fa-expand-arrows-alt fa-2x"></i></p>
                    <iframe src="{{documentFile.file.url}}#toolbar=0&navpanes=0" width="100%" height="100%"></iframe>
                    {% else %}
                        <p>No file available for preview</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if document.assets_referred_by.all %}
    <div class="row">
        <div class="col">
            <!-- Equipment -->
            <div class="card">
                <div class="card-body" style="overflow-x: auto;">
                    <table class="table table-striped">
                        <tr><th colspan="6"><h4><b>Equipment</b></h4></th></tr>
                        <tr>
                            <th>Asset Number</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Legacy Number</th>
                        </tr>
                        {% for assetref in document.assets_referred_by.all %}
                        {% if assetref.asset.type.category.name == "Equipment" %}
                        <tr class="link" onclick="window.location.href='/assets/asset/{{assetref.asset.id}}/'">
                            <td>{{assetref.asset.get_asset_no}}</td>
                            <td>{{assetref.asset.name}}</td>
                            <td>{{assetref.asset.type.name}}</td>
                            <td>{{assetref.asset.name}}</td>
                            <td>{{assetref.asset.get_status_display}}</td>
                            <td>{{assetref.asset.get_legacy_display}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
    

            <!-- Instruments -->
            <div class="card">
                <div class="card-body" style="overflow-x: auto;">
                    <table class="table table-striped">
                        <tr><th colspan="5"><h4><b>Instruments</b></h4></th></tr>
                        <tr>
                            <th>Asset Number</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Legacy Number</th>
                        </tr>
                        {% for assetref in document.assets_referred_by.all %}
                        {% if assetref.asset.type.category.name == "Instrument" %}
                        <tr class="link" onclick="window.location.href='/assets/asset/{{assetref.asset.id}}/'">
                            <td>{{assetref.asset.get_asset_no}}</td>
                            <td>{{assetref.asset.type.name}}</td>
                            <td>{{assetref.asset.name}}</td>
                            <td>{{assetref.asset.get_status_display}}</td>
                            <td>{{assetref.asset.get_legacy_display}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col">

            <!-- Line Numbers -->
            <div class="card">
                <div class="card-body" style="overflow-x: auto;">
                    <table class="table table-striped">
                        <tr><th colspan="5"><h4><b>Line Numbers</b></h4></th></tr>
                        <tr>
                            <th>Line Number</th>
                            <th>Type</th>
                            <th>Size</th>
                            <th>line_content</th>
                            <th>line_rating</th>
                        </tr>
                        {% for assetref in document.assets_referred_by.all %}
                        {% if assetref.asset.type.category.name == "Line Number" %}
                        <tr class="link" onclick="window.location.href='/assets/asset/{{assetref.asset.id}}/'">
                            <td>{{assetref.asset.get_asset_no}}</td>
                            <td>{{assetref.asset.type.name}}</td>
                            <td>{{assetref.asset.size}}</td>
                            <td>{{assetref.asset.line_content.name}}</td>
                            <td>{{assetref.asset.line_rating.name}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>

            <!-- Valves -->
            <div class="card">
                <div class="card-body" style="overflow-x: auto;">
                    <table class="table table-striped">
                        <tr><th colspan="5"><h4><b>Valves</b></h4></th></tr>
                        <tr>
                            <th>Valve Number</th>
                            <th>Size</th>
                            <th>Valve Spec</th>
                        </tr>
                        {% for assetref in document.assets_referred_by.all %}
                        {% if assetref.asset.type.category.name == "Valve" %}
                        <tr class="link" onclick="window.location.href='/assets/asset/{{assetref.asset.id}}/'">
                            <td>{{assetref.asset.get_asset_no}}</td>
                            <td>{{assetref.asset.valve_spec}}</td>
                            <td>{{assetref.asset.size}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>
        
    </div>
    {% endif %}
    
</div>

<script>
    function newRevision(){
        document.getElementById("newRevision").style.display = "flex";
    }
    function newReference(){
        document.getElementById("newReference").style.display = "flex";
    }

    function filter(){
        docSelectionEl = document.getElementById("id_reference")
        areaFilter = document.getElementById("area_filter")
        typeFilter = document.getElementById("type_filter")


        docSelectionEl.options.length=0;
        docSelectionEl.options.add(new Option("---------", ""))

        {% for d in documents %}
            if({{d.area.id}} == areaFilter.value || areaFilter.value == "" ){
                if({{d.type.id}} == typeFilter.value || typeFilter.value == "" ){
                    docSelectionEl.options.add(new Option("{{d.document_no}}: {{d.name}}", "{{d.id}}"))
                }
            }
        {% endfor %}
    }
</script>
{% endblock %}