{% extends 'agf_stores/base.html' %}
{% block title %}
Name
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div class="card">
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Stores</th>
                <th>Location</th>
            </tr>
            {% for store in stores %}
            <tr class="link" onclick="window.location.href='{% url 'store' store.id %}'">
                <td>
                    {{store.name}}
                </td>
                <td>
                    {{store.area}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}