{% extends 'agf_hse/base.html' %}
{% block title %}
{{questionnaire.name}}
{% endblock %}

{% block header %}
{% endblock %}

{% block main %} 
<div class="container-fluid">
    <form name=questionnaire action="{% url 'induction' id=questionnaire.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="questionnaireID" value="{{questionnaire.id}}">
        <div class="card">
            <div class="card-body">
                <h2>Australian Gasfields: {{questionnaire.name}}</h2>

                <!--- Name and Email -->
                <table>
                    <tr>
                        <td class="pe-3">
                            <label for="name">Name</label>
                        </td>
                        <td>
                            <input type="text" name="name" id="name" value="{{name}}" autocomplete="name" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="pe-3">
                            <label for="email">Email Address</label></td>
                        </td>
                        <td>
                            <input type="email" name="email" id="email" value="{{email}}" required>
                        </td>
                    </tr>
                </table>

                <br>

                <!--- Score -->
                {% if pass != None %}
                <p><b>Score:</b> {{correctCount}}/{{questionCount}} ({{percentage}}%)
                    {% if pass %}
                    <i class="c-base">Test Passed</i>
                    {% else %}
                    <i class="c-error">Test Failed</i>
                    {% endif %}
                </p>
                {% endif %}
            </div>
        </div>
        
        

        <!--- Incomplete Questions -->
        {% if pass is not None %}
        {% if showIncorrect %}
        <h3>Incorrect Questions</h3>
        {% endif %}
        {% endif %}
        {% for question in incompleteQuestions %}
        <div class="card" id="question{{question.id}}">
            <div class="card-body">
                <h4 class="card-title">
                    {% if question.correct is not none %}
                    {% if question.correct %}
                    <i class="fas fa-check c-base"></i>
                    {% else %}
                    <i class="fas fa-times-circle c-error" ></i>
                    {% endif %}
                    {% endif %}
                    <b>Question {{question.number}}</b>
                    <small>({{question.obj.get_type_display}})</small>
                </h4>
                <p class="card-text">{{question.obj.question}}</p>
                {% for answer in question.answers %}
                    {% if pass == None %}
                        <input
                            {% if question.obj.type == question.obj.MULTI %} 
                            onclick="deselectOthers('a{{answer.obj.id}}','q{{question.obj.id}}')"
                            {% endif %}
                        type="checkbox" class="q{{question.obj.id}}" id="a{{answer.obj.id}}" name="answer{{answer.obj.id}}" value="checked">
                    {% else %}
                        {% if question.obj.type == question.obj.MULTI %}
                            {% if answer.checked and not answer.correct %}
                                <i class="fas fa-times-circle c-error" ></i>
                            {% else %}
                                <input 
                                    onclick="deselectOthers('a{{answer.obj.id}}','q{{question.obj.id}}')"
                                    type="checkbox" 
                                    class="q{{question.obj.id}}" 
                                    id="a{{answer.obj.id}}" 
                                    name="answer{{answer.obj.id}}" 
                                    value="checked"
                                >
                            {% endif %}
                        {% else %}
                            {% if answer.checked and not answer.correct %}
                                <i class="fas fa-times-circle c-error" ></i>
                            {% else %}
                                <input 
                                    type="checkbox" 
                                    class="q{{question.obj.id}}" 
                                    id="a{{answer.obj.id}}" 
                                    name="answer{{answer.obj.id}}" 
                                    value="checked"
                                    {% if answer.checked %}
                                    checked
                                    {% endif %}
                                >
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <label for="answer{{answer.obj.id}}">{{answer.obj.answer}}</label><br>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <!--- Submit Button -->
        {% if pass == None %}
        <button class="btn btn-primary" onclick="checkForm()">Submit</button>
        {% else %}
            {% if showIncorrect %}
            <button class="btn btn-primary" onclick="checkForm()">Resubmit</button>
            {% endif %}
        {% endif %}
        <br>
        <br>

        <!--- Complete Questions -->
    {% if questionnaire.show_marking %}
    {% if showCorrect %}
    <h3>Correct Questions</h3>
    {% endif %}
    {% for question in completeQuestions %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                {% if question.correct %}
                <i class="fas fa-check c-base"></i>
                {% else %}
                <i class="fas fa-times-circle c-error" ></i>
                {% endif %}
                <b>Question {{question.number}}</b>
                <small>({{question.obj.get_type_display}})</small>
            </h4>
            <p class="card-text">{{question.obj.question}}</p>
            <table>
            {% for answer in question.answers %}
                <tr>
                    <td>
                        <input 
                            style="display:none;"
                            type="checkbox" 
                            class="q{{question.obj.id}}" 
                            id="a{{answer.obj.id}}" 
                            name="answer{{answer.obj.id}}" 
                            value="checked"
                            {% if answer.checked %}
                            checked
                            {% endif %}
                        >
                        {% if answer.correct and not answer.checked %}
                        <i class="far fa-square"></i>
                        {% endif %}
                        {% if not answer.correct and not answer.checked %}
                        <i class="far fa-square"></i>
                        {% endif %}
                        {% if answer.correct and answer.checked %}
                        <i class="fas fa-check c-base"></i>
                        {% endif %}
                        {% if not answer.correct and answer.checked %}
                        <i class="fas fa-times-circle c-error" ></i>
                        {% endif %}
                    </td>
                    <td class="ps-2">
                        {{answer.obj.answer}}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    {% endfor %}
    {% endif %}


    </form>

</div>

<script>
    function deselectOthers(id,others){
        myEl = document.getElementById(id);

        allEl = document.getElementsByClassName(others);

        for (var i=0, el; el = allEl[i]; i++) {
            if (el != myEl) {
                el.checked = false;
            }
        }
    }

    function checkForm(){
        myForm = document.questionnaire;
        yOffset = -100; 

        nameEl = document.getElementById("name");
        emailEl = document.getElementById("email");

        if (nameEl.value == ""){
            y = nameEl.getBoundingClientRect().top + window.pageYOffset + yOffset;

            alert("Please enter your name.");
            window.scrollTo({top: y, behavior: 'smooth'});

            return
        }
        
        if (emailEl.value == ""){
            y = emailEl.getBoundingClientRect().top + window.pageYOffset + yOffset;

            alert("Please enter your email address.");
            window.scrollTo({top: y, behavior: 'smooth'});
            
            return
        } else {
            if(validateEmail(emailEl.value) == false){
                y = emailEl.getBoundingClientRect().top + window.pageYOffset + yOffset;

                alert("Please enter a valid email address.");
                window.scrollTo({top: y, behavior: 'smooth'});

                return
            }
        }

        {% for question in questions %}
        {% if question.type == 1 or question.type == 2 %}
        allEl = document.getElementsByClassName("q{{question.id}}");

        isChecked = false

        for (var i=0, el; el = allEl[i]; i++) {
            if (el.checked == true) {
                isChecked = true;
            }
        }

        if (isChecked == false){
            element = document.getElementById("question{{question.id}}");
            y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;

            alert("Question {{forloop.counter}} Incomplete: {{question.question}}");
            window.scrollTo({top: y, behavior: 'smooth'});

            return
        }
        {% endif %}
        {% endfor %}

        
        myForm.submit();
    }

    function validateEmail(email) {
        var re = /\S+@\S+\.\S+/;
        return re.test(email);
    }
</script>
{% endblock %}