{% extends 'agf_assets/base.html' %}
{% block title %}
Asset Tree
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <!-- Level 1 -->
            {% for asset1 in parentlessAssets %}
            {% ifchanged asset1.area %}
            <p class="tree-area">{{asset1.area}}</p>
            {% endifchanged %}
            <p class="tree1">
                {% if asset1.children.all.count != 0 %}
                <i id="{{asset1.id}}-plus" class="fas fa-plus" onclick="expand('{{asset1.id}}')"></i>
                <i id="{{asset1.id}}-caret" class="fas fa-caret-down"  onclick="collapse('{{asset1.id}}')" style="display:none;"></i>
                {% endif %}
                {{asset1}}
            </p>
                <!-- Level 2 -->
                {% for child2 in asset1.children.all %}
                <p class="tree2 {{asset1.id}}" style="display:none;">
                    {% if child2.asset.children.all.count != 0 %}
                    <i id="{{child2.asset.id}}-plus" class="fas fa-plus" onclick="expand('{{child2.asset.id}}')"></i>
                    <i id="{{child2.asset.id}}-caret" class="fas fa-caret-down"  onclick="collapse('{{child2.asset.id}}')" style="display:none;"></i>
                    {% else %}
                    ---
                    {% endif %}
                    {{child2.asset}}
                </p>
                    <!-- Level 3 -->
                    {% for child3 in child2.asset.children.all %}
                    <p class="tree3 {{child2.asset.id}}" style="display:none;">
                        {% if child3.asset.children.all.count != 0 %}
                        <i id="{{child3.asset.id}}-plus" class="fas fa-plus" onclick="expand('{{child3.asset.id}}')"></i>
                        <i id="{{child3.asset.id}}-caret" class="fas fa-caret-down"  onclick="collapse('{{child3.asset.id}}')" style="display:none;"></i>
                        {% else %}
                        ---
                        {% endif %}
                        {{child3.asset}}
                    </p>
                        <!-- Level 4 -->
                        {% for child4 in child3.asset.children.all %}
                        <p class="tree4 {{child3.asset.id}}" style="display:none;">
                            {% if child4.asset.children.all.count != 0 %}
                            <i id="{{child4.asset.id}}-plus" class="fas fa-plus" onclick="expand('{{child4.asset.id}}')"></i>
                            <i id="{{child4.asset.id}}-caret" class="fas fa-caret-down"  onclick="collapse('{{child4.asset.id}}')" style="display:none;"></i>
                            {% else %}
                            ---
                            {% endif %}
                            {{child4.asset}}
                        </p>
                            <!-- Level 5 -->
                            {% for child5 in child4.asset.children.all %}
                            <p class="tree5 {{child4.asset.id}}" style="display:none;">
                                {% if child5.asset.children.all.count != 0 %}
                                <i id="{{child5.asset.id}}-plus" class="fas fa-plus" onclick="expand('{{child5.asset.id}}')"></i>
                                <i id="{{child5.asset.id}}-caret" class="fas fa-caret-down"  onclick="collapse('{{child5.asset.id}}')" style="display:none;"></i>
                                {% else %}
                                ---
                                {% endif %}
                                {{child5.asset}}
                            </p>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function expand(id){
        elements = document.getElementsByClassName(id);
        for (var i = 0; i < elements.length; i++) {
            elements[i].style.display = "block";
        }

        plus = document.getElementById(id+"-plus");
        plus.style.display = "none";
        caret = document.getElementById(id+"-caret");
        caret.style.display = "inline-block";
    }
    function collapse(id){
        elements = document.getElementsByClassName(id);
        for (var i = 0; i < elements.length; i++) {
            elements[i].style.display = "none";
        }

        plus = document.getElementById(id+"-plus");
        plus.style.display = "inline-block";
        caret = document.getElementById(id+"-caret");
        caret.style.display = "none";
    }
</script>

{% endblock %}